<div class="row">
  <button type="button" class="btn btn-success" routerLink="../answer-form">ADD ANSWER</button>
  </div>
  <div>

    <table class="table table-hover table-striped text-center">
        <thead>
            <tr>
                <th style="width: 5%">#</th>
                <th>Content</th>
                <th style="width: 5%">Correct</th>
                <th style="width: 10%">ACTIONS</th>
            </tr>
        </thead>
        <tbody>
          <tr *ngFor="let answer of answers;let i = index">

              <td>{{ answer.id}}</td>
              <td>{{ answer.content }}</td>
              <td>
                <div *ngIf="answer.correct"><fa-icon [icon]="faCheck"></fa-icon></div>
                <div *ngIf="!answer.correct"><fa-icon [icon]="faXmark"></fa-icon></div>
             <!--

               {{ `answer.correct ? `<fa-icon [icon]="faCoffee"></fa-icon>` : 'no' `}}

             -->
            </td>
              <td>
                <div class="btn-group d-flex " role="group">
                  <button type="button" class="btn btn-success " [routerLink]="['../answer-form', answer.id]"><fa-icon [icon]="faPenToSquare"></fa-icon></button>
                  <button type="button" class="btn btn-danger " (click)="deleteAnswer(this.qId,answer.id)"><fa-icon [icon]="faTrashCan"></fa-icon></button>
                </div>
              </td>

            </tr>

          </tbody>


        </table>
        <div class="row">
        <button type="button" class="btn btn-warning" (click)="deleteAnswers(this.qId)">DELETE ALL ANSWERS</button>
        <button type="button" class="btn btn-primary mt-2" [disabled]="answerSetIsNotComplite" [routerLink]="['../../surveys']">
          <fa-icon [icon]="faBackwardStep"></fa-icon>--Return to surveys </button>

      </div>
  </div>
