<h1>{{ title }}</h1>
<div class="row">
  <button type="button" class="btn btn-success" routerLink="../survey-form">Make Survey</button>
</div>

<div>
  <table class="table table-hover table-striped text-center">
    <thead>
    <tr>
      <th >#</th>
      <th style="width: 50%">Title</th>
      <th>Description</th>
      <th >ACTIONS</th>

    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let s of surveys;let i = index">
      <td style="width: 5%">{{s.id}}</td>
      <td style="width: 10%">{{s.title }}</td>
      <td >{{s.description }}</td>
      <td style="width: 15%">
        <div class="btn-group d-flex " role="group">
          <button type="button" class="btn btn-custom " [routerLink]="['/surveys/statistics',s.id]"><fa-icon [icon]="faChartPie"></fa-icon></button>
          <button type="button" class="btn btn-success " [routerLink]="['/survey-form',s.id]"><fa-icon [icon]="faPenToSquare"></fa-icon></button>
          <button type="button" class="btn btn-danger " (click)="deleteSurvey(s.id)"><fa-icon [icon]="faTrashCan"></fa-icon></button>
          <button type="button" class="btn btn-warning " [queryParams]="{surveyId:s.id}" [routerLink]="['../questionsworkshop']" >
            Questions<fa-icon [icon]="faArrowRight"></fa-icon></button>
        </div>
      </td>

    </tr>

    </tbody>

  </table>
  <div class="row">

    <!--button type="button" class="btn btn-warning" (click)="deleteQuestions()">DELETE ALL QUESTIONS</button-->

  </div>
</div>
