<div class="container">
  <form [formGroup]="form"  class="form-group">
     <h2 class="form-signin-heading">Current answer:</h2>
      <div id="data">
        <div class=" form-group container">
          <div class="row">
            <div class="col-1">
              <h5 class="">ID:</h5>
            </div>
            <div class="col-1">
              <input type="text" id="content" readonly class="form-control-plaintext bg-light " formControlName="id">
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="capitalName">Answer content:</label>
          <!--input  id="capitalName" class="form-control bg-light" formControlName="content" -->
          <textarea  id="capitalName" class="form-control bg-light" formControlName="content" rows = "5">
          </textarea>
        </div>
      </div>

        <div class="form-group form-check-inline">
        <input class="form-check-input" type="radio" formControlName="correct" value="true">
        <label class="form-check-label" for="inlineRadio1">CORRECT</label>
      </div>
      <div class="form-group form-check-inline">
        <input class="form-check-input" type="radio" formControlName="correct"  value="false">
        <label class="form-check-label" for="inlineRadio2">WRONG</label>
      </div>

      <!--button class="btn btn-lg btn-primary btn-block mt-2" type="submit" (click)="onSubmit()" routerLink="/answer">Submit + absolute link</button-->


      <div class="form-group">
        <button class="btn btn-lg btn-primary btn-block mt-2" type="submit" (click)="onSubmit()" [routerLink]="['//',this.qId,'answers']">Submit</button>
      </div>
    </form>
</div>

