
<nav class="nav nav-pills flex-column flex-sm-row">
  <a class="flex-sm-fill text-sm-center nav-link active" aria-current="page" href="home">HOME</a>
  <a class="flex-sm-fill text-sm-center nav-link" routerLink="/surveys" >SURVEYS</a>
  <a class="flex-sm-fill text-sm-center nav-link" routerLink="/login" >LOGIN</a>
  <a class="flex-sm-fill text-sm-center nav-link" routerLink="/newUser" >NEW ACCOUNT</a>
  <a class="flex-sm-fill text-sm-center nav-link" (click)="logout()" href="#">LOGOUT</a>
</nav>
