
  <nav class="navbar navbar-light nav-pills flex-column flex-sm-row" style="background-color: #e3f2fd;">
    <a class="flex-sm-row nav-link flex-sm-fill text-sm-center" [routerLink]="['/accountInfo',username]" >
      <fa-icon [icon]="faUserLarge" class=".width=500px"></fa-icon> ACCOUNT
    </a>
    <fa-icon [icon]="faCertificate" class="faSquare"></fa-icon>
    <a class="flex-sm-row nav-link flex-sm-fill text-sm-center" routerLink="/chooseSurvey" >
      SURVEYS</a>
      <fa-icon [icon]="faCertificate" class="faSquare"></fa-icon>
      <a class="flex-sm-row nav-link flex-sm-fill text-sm-center" (click)="logout()" href="../home">
    LOGOUT
    <fa-icon [icon]="faDoorClosed" class=".width=500px"></fa-icon>
  </a>
</nav>

