<div class="row text-center ">
  <input type="text" id="surveyCode"  style="width: 95%;"class="text-center mx-auto my-3 "  placeholder="input your unique survey code here"/>

<h2 >Our most popular surveys!</h2>
</div>
<mat-grid-list cols="4" rowHeight="100px">
  <mat-grid-tile
      *ngFor="let survey of surveys"
      [colspan]="2"
      [rowspan]="2"
      [style.background]="'#8ECAE6'"
      >
      <div class="row text-center">
        <div class="h2" >{{survey.title}}</div>
        <div class="h4">{{survey.description}}</div>
        <div ><button class="btn btn-lg btn-takeSurvey btn-block mt-2" type="submit" [queryParams]="{surveyId:survey.id}" routerLink="/takeSurvey">
          Take that survey!
        </button></div>

      </div>
    </mat-grid-tile>

  </mat-grid-list>

